* {
    box-sizing: border-box;
    font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
    margin: 0;
    padding: 0;
}
body {
    background: #000000;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    padding: 0 1px;
}
aside.light-theme {
    border-color: #527dfc;
    border-style: dotted;
    box-shadow: 0px 1px 5px 2px #575757b6;
}
ul {
    list-style: none;
}
a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(90, 90, 90, 0.158);
}
img {
    width: 100%;
}
button a {
    color: #ffffff;
    width: 100%;
}
body.light-theme {
    background: #ffffff;
    color: rgb(0, 0, 0);
}
body.light-theme aside,
body.light-theme span {
    color: #527dfc;
}
body.light-theme button,
body.light-theme h3,
body.light-theme section a {
    color: #000000;
}
body.light-theme button a {
    color: #ffffff;
}
body.light-theme a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(90, 90, 90, 0.158);
}
.blue {
    color: #fcb641;
    font-size: 1.2em;
}
.container {
    display: grid;
    grid-template-areas: "header header" "section section" "main aside" "footer footer";
    grid-template-columns: 60% 35%;
    justify-content: space-around;
    padding: 1% 1%;
}
header {
    font-size: 1.1em;
    grid-area: header;
    padding-bottom: 3%;
    text-align: center;
}
section {
    align-items: center;
    display: grid;
    grid-area: section;
    grid-template-areas: "logo nav" "sectionText sectionText";
    grid-template-columns: 60 35%;
}
.logo {
    grid-area: logo;
    width: 87%;
}
.nav {
    align-items: center;
    align-self: center;
    grid-area: nav;
    justify-content: center;
    margin-left: -14%;
    margin-right: 0%;
    text-align: center;
    width: auto;
}
.navFixed {
    position: fixed;
    right: 31px;
    top: 50%;
    width: 462px;
    margin-top: -15em;
}
.navRight {
    border-color: #356fef;
    border-style: dotted;
    box-shadow: 0px 1px 5px 2px #575757b6;
    line-height: 1.8rem;
    padding: 1%;
}
.navRight li {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
}
.navRight li:hover {
    color: rgba(0, 0, 0, 0.678);
    cursor: pointer;
}
.navRight a:hover {
    background: #356fef;
    color: #ffffff;
    padding-bottom: 3%;
    padding-top: 3%;
    text-shadow: none;
}
.sectionText {
    grid-area: sectionText;
    line-height: 1rem;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: left;
}
.sectionText h1 {
    font-size: 2em;
    margin-bottom: 1%;
    margin-top: 3%;
    text-align: center;
}
.sectionText li {
    font-size: 1.4em;
    padding: 3%;
    text-align: center;
    line-height: 1.5rem;
}
.sectionText ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    text-align: center;
}
.sectionProductsImg ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    text-align: center;
    gap: 1%;
}
.imageHolder {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-area: imageHolder;
    margin-top: 5%;
}
.imageHolderForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    text-align: center;
}
#image {
    height: 100%;
    min-height: 100%;
    object-fit: cover;
}
.textHolder {
    font-size: 1.5em;
    grid-area: textHolder;
    line-height: 2.5rem;
    margin-bottom: 1%;
    text-align: left;
}
.textHolder h3,
h5 {
    margin-left: 12px;
}
.textHolder a {
    width: 100%;
    height: 100%;
}
.sectionAbout {
    font-size: 0.9em;
    grid-area: sectionAbout;
    line-height: 1.5rem;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}
main {
    grid-area: main;
    position: relative;
    margin-top: 5%;
}
aside {
    grid-area: aside;
    margin-top: 5%;
}
footer {
    font-size: 1.1em;
    grid-area: footer;
    line-height: 1rem;
    margin-top: 5%;
    text-align: center;
}
.centerFix {
    align-self: center;
    display: grid;
    justify-content: center;
}
.centerFixData {
    align-self: center;
    display: grid;
    font-size: 2em;
    justify-content: center;
    margin: 2% 5%;
}
.aboutText {
    font-size: 1.5em;
    line-height: 2em;
}
.divProducts {
    align-items: center;
    display: grid;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align-last: center;
}
.divProducts img:hover {
    filter: drop-shadow(4px 4px 7px rgba(61, 61, 153, 0.575));
    cursor: pointer;
}
.divProducts img:active {
    transform: translate(2px, 2px);
    scale: 95%;
    transition: 0.3s;
}
.ulProducts {
    column-gap: 5%;
    display: grid;
    font-size: 1em;
    font-weight: 300;
    gap: 2%;
    grid-template-columns: repeat(6, 1fr);
}
.sectionDados {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    gap: 2%;
    justify-content: center;
    line-height: 2rem;
    margin: 5%;
}
.sectionOpcao {
    align-items: center;
    display: grid;
    font-size: 1.5em;
    justify-content: center;
    line-height: 2rem;
    margin: 5%;
}
.sectionDetalhes {
    align-items: center;
    display: grid;
    display: none;
    font-size: 1em;
    grid-gap: 5px;
    justify-content: center;
    line-height: 2rem;
    list-style-type: none;
    margin-bottom: 1%;
    margin-top: 0%;
}
.personalizarion {
    margin-top: 0%;
}
.comentarioHolder {
    line-height: 2em;
    margin-top: 0%;
    margin-bottom: 5%;
    text-align: center;
}
.comentarioHolder textarea {
    display: block;
    margin-bottom: -10%;
    width: 60%;
    margin-left: 20%;
}
.vetorCon {
    font-size: 0.8em;
    line-height: 1.8em;
    text-align: center;
}
.formularioHolder {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 5%;
    text-align: center;
    display: none;
}
.switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}
.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}
.slider {
    background-color: #ccc;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.slider:before {
    background-color: #ffffff;
    border-radius: 50%;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    width: 13px;
}
input:checked + .slider {
    background-color: #2196f3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    -webkit-transform: translateX(13px);
}
.inputLimpar {
    border: 2px solid var(--input-border);
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    margin-top: 10%;
    padding: 0.2em 0.4em;
}
.inputSalvar {
    border: 2px solid var(--input-border);
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    margin-top: 10%;
    padding: 0.2em 0.4em;
}
.inputSalvar:hover {
    background-color: #2196f3;
}
.inputLimpar:hover {
    background-color: #fcb641;
}
.input {
    background-color: #cfa9897a;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
    font-size: 1em;
    padding: 0.25em 0.5em;
}
.inputDetalhes {
    background-color: #ffffff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    border-style: dotted;
    box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1em;
    padding: 0.25em 0.5em;
}
.mainButton {
    align-items: center;
    background-color: rgb(0, 75, 160);
    border: none;
    box-shadow: 1px 1px 1px 1px #000000;
    cursor: pointer;
    display: grid;
    font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
    font-size: 1em;
    justify-content: center;
    margin-left: 35%;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    width: 30%;
}
.mainButton a {
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(80, 80, 80);
}
.mainButton:hover {
    background-color: #ffa500;
    box-shadow: 0px 1px 6px rgba(80, 80, 80, 0.64);
}
.main-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    cursor: pointer;
    display: grid;
    font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
    font-size: 1.8em;
    justify-content: center;
    text-align: center;
    width: 65%;
}
.main-button:hover {
    background-color: #ffffff57;
    box-shadow: 0px 1px 6px rgba(103, 111, 110, 0.64);
}
.sectionButton {
    font-size: 1em;
    grid-area: sectionButton;
    line-height: 2rem;
    margin: 5% 0 0;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
.footer-button {
    background-color: transparent;
    cursor: pointer;
    font-family: “monaco”, “Consolas”, "Lucida Console", monospace;
    font-size: 1em;
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    color: #ffffff;
}
.footer-button:hover {
    background-color: #527dfc;
    color: #ffffff;
}
.capuzBolso {
    display: grid;
    grid-template-columns: 90px 90px;
    margin-bottom: 4px;
}
.Item {
    font-size: 0.9em;
}
.cont {
    position: relative;
    width: 16vw;
    height: 8vw;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    margin: 0 0 0 8vw;
}
.button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #2be741;
    position: relative;
    border: 1px dashed rgb(9, 48, 203);
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.3s linear;
    box-shadow: inset 0px 0px 5px black, inset 0px 0px 0px #2f1da3a7;
}
.button:active {
    box-shadow: inset 0px 0px 0px black, inset 0px 0px 105px #2f1da3a7;
}
.button:active .blob {
    animation: none;
}
.blob {
    position: relative;
    top: 10%;
    left: 0%;
    width: 10vw;
    height: 10vw;
    fill: #137bdc;
    transform-origin: 50% 50%;
    filter: drop-shadow(4px 4px 0 black);
    animation: bump 5.5s ease infinite;
}
@keyframes bump {
    0% {
        transform: scale(1, 1) translateX(0px);
    }
    9% {
        transform: scale(1.1, 0.9) translateY(20px);
    }
    28% {
        transform: scale(0.7, 1.3) translateY(-100px) translateX(55px);
    }
    35% {
        transform: scale(1, 1) translateY(20px);
    }
    50% {
        transform: scale(1, 1.1);
    }
    60% {
        transform: scale(1.1, 0.9) translateY(20px);
    }
    80% {
        transform: scale(0.7, 1.3) translateY(-100px) translateX(-55px);
    }
    88% {
        transform: scale(1, 1) translateY(20px);
    }
    100% {
        transform: scale(1, 1) translateX(0px);
    }
}
.text {
    display: flex;
    position: absolute;
    top: 35%;
    font-size: 4vw;
    text-shadow: 1px 1px rgb(53, 53, 53);
    font-family: "Anton", sans-serif;
    color: #ffffff;
}
.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}
.ag-parallax_item {
    height: 180px;
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    -webkit-clip-path: polygon(
        100% 0,
        100% calc(100% - 65px),
        calc(100% - 65px) 100%,
        0 100%,
        0 0
    );
    clip-path: polygon(
        100% 0,
        100% -moz-calc(100% - 65px),
        -moz-calc(100% - 65px) 100%,
        0 100%,
        0 0
    );
    clip-path: polygon(
        100% 0,
        100% calc(100% - 65px),
        calc(100% - 65px) 100%,
        0 100%,
        0 0
    );
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    position: relative;
}
.ag-parallax_box {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    z-index: 1;
    position: relative;
}
.ag-parallax_img-box {
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
}
.ag-parallax_img-box img {
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8,
#box9 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 70%;
    height: 100%;
    margin-left: 15%;
    line-height: 1.5rem;
}
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9 {
    border: 15px solid transparent;
    background: linear-gradient(#ffffff 0 0) top,
        linear-gradient(#ffffff 0 0) left, linear-gradient(#ffffff 0 0) bottom,
        linear-gradient(#ffffff 0 0) right;
    background-size: 200% 4px, 4px 200%;
    background-origin: padding-box;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.5em;
    width: 25%;
    height: 100%;
    margin-top: 8%;
    margin-left: 67%;
    font-size: 1.5em;
    line-height: 2rem;
}
.caixaProdutos {
    margin-left: -22%;
}
